.ipynb_checkpoints
*/RMG.log
*/RMG.profile
*/RMG.profile.dot
*/RMG.profile.dot.pdf
*/RMG.profile.dot.ps2
*/RMG_backup.log
*/output.html
*/output_edge.html
*/statistics.xls
*/chemkin
*/pdep
*/plot
*/solver
*/species

binding_energies/*/RMG.log
binding_energies/*/RMG.profile
binding_energies/*/RMG.profile.dot
binding_energies/*/RMG.profile.dot.pdf
binding_energies/*/RMG.profile.dot.ps2
binding_energies/*/RMG_backup.log
binding_energies/*/output.html
binding_energies/*/output_edge.html
binding_energies/*/statistics.xls
binding_energies/*/chemkin/chem0*
binding_energies/*/chemkin/chem_edge0*
binding_energies/*/pdep
binding_energies/*/plot
binding_energies/*/solver/*.png
binding_energies/*/species

binding_energies/*/chemkin/*
binding_energies/*/solver/*
